@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #f5f3f2;
  }
  body {
    overflow-x: hidden;
  }
  h2 {
    font-size: 56px;
  }
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  width: fit-content;
}
